$blue: #1b9cff;
$blue-l: #2da9ef;
$black: #404040;
$yel: #f7bf0a;
$headH-pc: 90px;
$headH-mo: 45px;
$font-family: "Lexend", "Noto Sans TC", sans-serif;
//-------------------------font-------------------------//

// 字型大小顏色
@mixin font-color($color, $weight: 400, $lh: 1.5) {
    color: $color;
    font-weight: $weight;
    line-height: $lh;
}
//px轉rem
@function pxToEm($px, $base: 16) {
    @return ($px / $base) * 1rem;
}
@function pxToRem($px, $base: 16) {
    @return ($px / $base) * 1rem;
}

$xxl: 1440px;
$xl: 1200px;
$lg: 991px;
$md: 769px;
$sm: 576px;
$xs: 320px;

//用法 @include font-size(pxToEm(16),pxToEm(36));
@mixin font-size($mobile, $desk, $scale: 1) {
    @media (max-width: 1440px) {
        font-size: $desk * $scale;
    }
    @media (max-width: 767px) {
        font-size: $mobile;
    }
    @media (min-width: 1441px) {
        font-size: $desk;
    }
}
// 行高
@mixin line-height($mobile, $desk) {
    line-height: $desk;
    @media (max-width: 767px) {
        line-height: $mobile;
    }
}
// 行距
@mixin letter-spacing($mobile, $desk) {
    letter-spacing: $desk + em;
    @media (max-width: 767px) {
        letter-spacing: $mobile + em;
    }
}
//------------------------- 限定行數  行高 行數(行高x行數)x1rem ---------//

@mixin clamp($clamp) {
    @media (min-width: 768px) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $clamp;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
}

@mixin sp-header {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
@mixin pc-header {
    @media screen and (min-width: 1025px) {
        @content;
    }
}
