@import "base/mixin";

::selection {
    background-color: #1b9cff;
    color: white;
}

body,
html {
    overflow-x: hidden;
}

#body-content {
    opacity: 0;
    visibility: hidden;
    transition: 0.6s ease-in;
    &.loading {
        opacity: 1;
        visibility: visible;
    }
}

body {
    font-family: $font-family;
    color: #404040;
    font-weight: 400;
    position: relative;
}

.mo {
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
}
.pc {
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    @media (max-width: 767px) {
        padding: 0 20px;
    }

    @media (min-width: 768px) {
        width: 80%;
    }
    @media (min-width: 992px) {
        width: 90%;
    }
    @media (min-width: 1200px) {
        max-width: 1200px;
        padding: 0 16px;
    }
}

//a tag
a {
    outline: none;
    color: inherit;
}
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}
a,
a:hover {
    text-decoration: none;
    transition: 0.4s ease;
}
*:focus {
    outline: none;
}

//image
img {
    vertical-align: middle;
    max-width: 100%;
}

//language
.lang_tw {
    .tw {
        display: block;
    }
    .en {
        display: none;
    }
}
.lang_en {
    .tw {
        display: none;
    }
    .en {
        display: block;
    }
}
