.editor_content {
    ol {
        list-style-type: decimal;
        padding-left: 10px;
    }
    ul {
        list-style-type: initial;
        padding-left: 20px;
    }
    img {
        max-width: 100%;
        height: auto !important;
    }
    b,
    strong {
        font-weight: bold;
        font-size: inherit;
    }
    em {
        font-style: italic;
    }
    a {
        text-decoration: underline;
    }
    iframe {
        max-width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: inherit;
    }
    blockquote {
        font-style: italic;
        padding: 2px 20px 0 8px;
        margin-left: 40px;
        border-left: 5px solid #ccc;
    }
    td,
    th,
    tr {
        margin: initial;
    }
    //有需要再加
    // table {
    //     border-collapse: collapse;
    // }
}

.editor_box {
    margin: auto;
    line-height: 2.25;
    font-size: pxToEm(16);
    color: #404040;
    ul,
    ol {
        padding-left: 40px;
    }

    img {
        max-width: 100%;
        height: auto !important;
    }

    iframe {
        max-width: 100%;
        @media screen and (max-width: 767px) {
            height: 100% !important;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: inherit;
    }
}

.mo_use {
    display: none;
}
@media (max-width: 991px) {
    .editor_box {
        padding: 0;
    }
}
@media (max-width: 767px) {
    .editor_box {
        font-size: pxToEm(16);
        line-height: 2;
    }
    .mo_use {
        display: block;
    }
    .pc_use {
        display: none;
    }
}
