@import "base/mixin";
main {
    .desk {
        @media (max-width: 991px) {
            display: none;
        }
    }
    .mobile {
        @media (min-width: 992px) {
            display: none;
        }
    }
    .kv-section {
        margin-bottom: 13.685vw;
        position: relative;
        background-color: #ffd54e;
        height: 100vh;
        padding-top: 21vh;
        @media (min-width: 992px) {
            max-height: 600px;
        }
        @media (max-width: 991px) {
            padding-top: 17.5vh;
        }
        @media (max-width: 767px) {
            margin-bottom: -12vh;
        }
        &::after {
            content: "";
            width: 100%;
            aspect-ratio: 1/0.53125;
            background: url(../images/kv_yel_circle.png) center/contain no-repeat;
            position: absolute;
            left: 0;
            bottom: -26vw;
            z-index: -2;
        }
        .container {
            position: relative;
            z-index: 1;
            opacity: 0;
            animation: fade 1.5s ease 1s 1 forwards;
            .f88-60 {
                margin-bottom: 15px;
                @media (max-width: 991px) {
                    margin-bottom: 4px;
                }
            }
            .kv-title {
                @include font-size(pxToEm(36), pxToEm(54), 0.8);
                line-height: 1.333;
                span {
                    color: $blue;
                }
            }
        }
        .white-circle {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            animation: fade 1.5s ease 0s 1 forwards;
            @media (min-width: 992px) {
                width: 87%;
            }
            @media (max-width: 991px) {
                width: 100%;
            }
            img {
                width: 100%;
            }
        }
        .kv-img {
            position: absolute;
            opacity: 0;
            animation: fade 1.5s ease 1s 1 forwards;
            @media (min-width: 992px) {
                left: 34.7%;
                top: 30vh;
                width: 42%;
            }
            @media (max-width: 991px) {
                left: 50%;
                transform: translateX(-50%);
                top: 48vh;
                width: 90%;
            }
        }
        .dot-circle {
            opacity: 0;
            animation: fade 1.5s ease 0.5s 1 forwards;
            .circle-big,
            .circle-small {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                transform-origin: center center;
            }
            .circle-small {
                animation: rotate 30s linear infinite forwards;
                @media (min-width: 992px) {
                    top: 2vw;
                    width: 53%;
                }
                @media (max-width: 991px) {
                    top: 13.5vh;
                    width: 113%;
                }
            }
            .circle-big {
                animation: rotate 30s linear infinite reverse;
                @media (min-width: 992px) {
                    width: 79%;
                    top: -11vw;
                }
                @media (max-width: 991px) {
                    width: 177%;
                    top: -8vw;
                }
            }
            @keyframes rotate {
                from {
                    transform: translateX(-50%) rotate(0);
                }
                to {
                    transform: translateX(-50%) rotate(180deg);
                }
            }
        }
        .coin-wrap {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            animation: fade 1.5s ease 1.5s 1 forwards;
            @media (min-width: 992px) {
                top: 15.5vh;
                width: 75%;
            }
            @media (max-width: 991px) {
                top: 11vh;
                width: 100%;
            }
            img {
                width: 100%;
            }
        }
        .scroll {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -31.5vh;
            text-align: center;
            @media (max-width: 767px) {
                bottom: 10vh;
            }
            .arrow {
                margin-top: 10px;
                animation: scroll-down 1.5s ease infinite;
                @media (max-width: 767px) {
                    margin-top: 0px;
                }
            }
            @keyframes scroll-down {
                to {
                    transform: translateY(10px);
                    opacity: 0;
                }
            }
        }
        @keyframes fade {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
    .cards-section {
        position: relative;
        z-index: 10;
        @media (min-width: 768px) {
            margin-bottom: 100px;
        }
        @media (max-width: 767px) {
            margin-bottom: 110px;
        }
        @keyframes float {
            25% {
                transform: translate(0, 0);
            }
            50% {
                transform: translate(-30px, 30px);
            }
            75% {
                transform: translate(30px, 30px);
            }
        }
        .yel-ball-b {
            position: absolute;
            width: 15.625vw;
            min-width: 135px;
            aspect-ratio: 1/1;
            background-color: #ffeba9;
            border-radius: 50%;
            animation: float 10s ease-out infinite;
            @media (min-width: 768px) {
                right: 11.7vw;
                bottom: -6vh;
            }
            @media (max-width: 767px) {
                right: -25px;
                bottom: -5vw;
            }
        }
        .yel-ball-s {
            position: absolute;
            width: 3.75vw;
            min-width: 32px;
            aspect-ratio: 1/1;
            background-color: #ffeba9;
            border-radius: 50%;
            animation: float 8s ease-out 1s infinite reverse;
            @media (min-width: 768px) {
                right: 30.5vw;
                bottom: -12vh;
            }
            @media (max-width: 767px) {
                right: 22vw;
                bottom: -22vw;
            }
        }
        .swiper {
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            text-align: center;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            // -ms-flex-align: center;
            // -webkit-align-items: center;
            // align-items: center;
        }
        //定位
        .swiper-slide {
            @media (min-width: 992px) {
                &:first-child {
                    margin-top: 50px;
                }
                &:nth-child(2) {
                    margin-top: 150px;
                }
            }
            @media (max-width: 767px) {
                margin-bottom: 30px;
            }
        }
        .swiper-slide-active {
            @media (max-width: 767px) {
                // margin-bottom: 30px;
                transition: 0.8s ease;
                transform: translateY(30px);
            }
        }
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            margin: 0 10px !important;
        }
        .swiper-pagination-bullet-active {
            background-color: $black;
        }
        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            text-align: center;
            bottom: -20px;
        }
        .container {
            @media (max-width: 767px) {
                padding: 0px;
            }
        }
        .card {
            border-radius: 30px;
            background-color: #fff;
            box-shadow: 0px 5px 16px 4px rgba(221, 221, 221, 0.7);
            width: 350px;
            min-width: 240px;
            aspect-ratio: 1/1;
            margin: 20px 0;
            padding: 35px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            @media (max-width: 992px) {
                width: 18.2vw;
            }
            @media (max-width: 767px) {
                width: 240px;
                height: 240px;
                border-radius: 15px;
                padding: 10px 20px 20px;
            }
        }
        .f30-20 {
            margin-top: 25px;
            @media (max-width: 767px) {
                margin-top: 15px;
            }
        }
        .f22-18 {
            color: #888787;
        }
    }
    .apply-section {
        margin-bottom: 270px;
        position: relative;
        @media (max-width: 767px) {
            margin-bottom: 100px;
        }
        .yel-ball {
            position: absolute;
            bottom: -5%;
            left: 0;
            animation: floatUp 5s ease-out infinite;
            @keyframes floatUp {
                50% {
                    transform: translate(0, 30px);
                }
            }
            @media (max-width: 767px) {
                display: none;
            }
        }
        .f44-30 {
            line-height: 1.333;
            position: relative;
            margin-bottom: 17px;
            @media (max-width: 991px) {
                margin-bottom: 35px;
                margin-left: 25px;
            }
            &::before {
                content: "";
                aspect-ratio: 1/0.7635;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
                @media (min-width: 992px) {
                    background: url(../images/title_arrow.png) center/contain no-repeat;
                    left: -17%;
                    width: 20.65%;
                }
                @media (max-width: 991px) {
                    background: url(../images/title_arrow_mb.png) center/contain no-repeat;
                    left: -15%;
                    width: 40%;
                }
            }
        }
        h3 {
            text-align: center;
            margin-bottom: 50px;
            @media (max-width: 991px) {
                margin-bottom: 40px;
            }
            .f24-18 {
                color: $blue;
                margin-bottom: 5px;
                @media (max-width: 991px) {
                    margin-bottom: 1px;
                }
            }
        }
        .bg {
            width: 1008px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            @media (min-width: 1298px) {
                bottom: 0vw;
            }
            @media (max-width: 1297px) and (min-width: 992px) {
                // width: 62vw;
                width: 60%;
                bottom: 10vw;
            }
            @media (max-width: 991px) {
                width: 100%;
                bottom: 18%;
            }
            @media (max-width: 767px) {
                bottom: 11%;
            }
            img {
                @media (max-width: 991px) {
                    width: 100%;
                }
            }
        }
        // #trigger1 {
        //     width: 100%;
        //     height: 1px;
        //     background-color: green;
        // }
        .bavepay-text {
            position: absolute;
            width: 100%;
            height: 100%;
            // padding-right: 10%;
            z-index: -1;

            #word {
                @include font-size(pxToEm(60), pxToEm(141), 0.8);
                writing-mode: vertical-rl;
                text-orientation: mixed;
                font-weight: 700;
                color: #f6f6f6;
            }
        }
        .phoneSwiper {
            // width: 29%;
            // width: 17.6vw;
            width: 330px;
            height: 100%;
            position: relative;
            padding: 20px;
            // margin-left: 17%;
            margin-right: auto;
            @media (min-width: 1298px) {
                margin-left: 198px;
            }
            @media (max-width: 1297px) and(min-width: 992px) {
                width: 22vw;
                margin-left: 18%;
            }
            @media (max-width: 991px) {
                width: 56%;
                max-width: 330px;
            }
            .phone-img {
                overflow: hidden;
                aspect-ratio: 1/2;
                @media (min-width: 992px) {
                    width: 300px;
                    border: solid 2px #d9d9d9;
                    border-radius: 30px;
                }
                @media (max-width: 991px) {
                    border: solid 1px #d9d9d9;
                    border-radius: 15px;
                }
            }
            .phone-case {
                box-shadow: 0px 5px 16px 4px rgba(221, 221, 221, 0.7);
                background-color: #fff;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                @media (min-width: 992px) {
                    width: calc(100% + 28px);
                    height: calc(100% + 28px);
                    border-radius: 30px;
                }
                @media (max-width: 991px) {
                    width: calc(100% + 14px);
                    height: calc(100% + 14px);
                    border-radius: 15px;
                }
            }
            .swiper-wrapper {
                margin-bottom: 40px;
                @media (max-width: 991px) {
                    margin-bottom: 10px;
                }
            }
        }
        .numSwiper {
            width: 100%;
            position: absolute;
            padding: 30px 0;
            @media (min-width: 1298px) {
                top: 2%;
                left: 25%;
            }
            @media (max-width: 1297px) and (min-width: 992px) {
                bottom: 18%;
                left: 30%;
            }
            @media (max-width: 991px) {
                position: relative;
                padding: 20px 0;
            }
            .swiper-wrapper {
                width: 560px;
                height: 560px;
                position: relative;
                // background-color: #eb0d0d4d;
                border-radius: 50%;
                margin: 0 0;
                @media (max-width: 1297px) {
                    width: 35vw;
                    height: auto;
                    aspect-ratio: 1/1;
                }
            }
            .swiper-slide {
                @media (min-width: 992px) {
                    cursor: pointer;
                    position: absolute;
                    height: fit-content;
                    &:first-child {
                        right: 6%;
                        top: 3.5%;
                    }
                    &:nth-child(2) {
                        right: -16.5%;
                        top: 24.5%;
                    }
                    &:nth-child(3) {
                        right: -21.7%;
                        top: 48%;
                    }
                    &:nth-child(4) {
                        right: -16%;
                        top: 71.5%;
                    }
                    &:nth-child(5) {
                        right: 1.5%;
                        top: 90.5%;
                    }
                }
                @media (max-width: 991px) {
                    height: fit-content;
                }
            }
            .swiper-slide-thumb-active {
                @media (min-width: 992px) {
                    .num {
                        @include font-size(pxToEm(17), pxToEm(30), 0.8);
                        &::after {
                            background-color: $blue;
                            width: 90px;
                            height: 90px;
                            @media (min-width: 1298px) {
                                width: 90px;
                                height: 90px;
                            }
                            @media (max-width: 1297px) {
                                width: 200%;
                                height: 200%;
                            }
                        }
                        &::before {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .content {
                        @include font-size(pxToEm(17), pxToEm(30), 0.8);
                        color: $blue;
                        @media (min-width: 1298px) {
                            left: 198px;
                        }
                        @media (max-width: 1297px) {
                            left: 75%;
                        }
                    }
                }
            }
            .num {
                position: relative;
                font-weight: 700;
                color: white;
                @include font-size(pxToEm(17), pxToEm(22), 0.8);
                @media (max-width: 991px) {
                    margin-right: 40px;
                }
                &::after {
                    content: "";
                    background-color: #6b6b6b;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    transition: 0.4s ease;
                    z-index: -1;
                    @media (min-width: 1298px) {
                        width: 70px;
                        height: 70px;
                    }
                    @media (max-width: 1297px) {
                        width: 200%;
                        height: 200%;
                    }
                    @media (max-width: 991px) {
                        width: 51px;
                        height: 51px;
                    }
                }
                &::before {
                    content: "";
                    width: 110px;
                    height: 110px;
                    background-color: #badffc;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    z-index: -1;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.4s ease;
                    @media (min-width: 1298px) {
                        width: 110px;
                        height: 110px;
                    }
                    @media (max-width: 1297px) {
                        width: 250%;
                        height: 250%;
                    }
                }
            }
            .content {
                @include font-size(pxToEm(18), pxToEm(24), 0.8);
                font-weight: 700;
                white-space: nowrap;
                @media (min-width: 1298px) {
                    left: 180px;
                }
                @media (min-width: 992px) {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                @media (max-width: 1297px) {
                    left: 70%;
                }
            }
        }
        .phoneSwiper-navigation {
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 991px) {
                position: absolute;
                top: 29%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                width: 95vw;
                justify-content: space-between;
            }
            > div {
                width: 40px;
                height: 40px;
            }
            .phoneSwiper-button-next {
                cursor: pointer;
                background: url(../images/next.png) center/16px no-repeat;
                transition: 0.4s ease;
                @media (max-width: 991px) {
                    background-size: 12px;
                }
                &:hover {
                    @media (min-width: 768px) {
                        background: url(../images/next_hover.png) center/16px no-repeat;
                    }
                }
            }
            .line {
                width: 2px;
                height: 34px;
                margin: 0 28px;
                background-color: #b5b5b5;
                @media (max-width: 991px) {
                    display: none;
                }
            }
            .phoneSwiper-button-prev {
                cursor: pointer;
                background: url(../images/prev.png) center/16px no-repeat;
                transition: 0.4s ease;
                @media (max-width: 991px) {
                    background-size: 12px;
                }
                &:hover {
                    @media (min-width: 768px) {
                        background: url(../images/prev_hover.png) center/16px no-repeat;
                    }
                }
            }
        }
        .btnwrap {
            margin-top: 27px;
            @media (max-width: 767px) {
                margin-top: 0;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -2%;
            }
        }
        //swiper setting
        .swiper-slide {
            text-align: center;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            background-size: cover;
            background-position: center;
        }
        .swiper-wrap {
            display: flex;
            position: relative;
            @media (max-width: 991px) {
                flex-direction: column;
            }
        }
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .support-section {
        margin-bottom: 500px;
        position: relative;
        @media (max-width: 991px) {
            margin-bottom: 144px;
        }
        &::after {
            content: "";
            width: 100%;
            height: calc(100% + 50vw);
            background-image: linear-gradient(to top, #f6f6f6, rgba(236, 235, 235, 0.7), #fff);
            position: absolute;
            top: -270px;
            left: 0;
            z-index: -3;
            @media (max-width: 767px) {
                height: calc(100% + 84vh);
            }
        }
        .container {
            position: relative;
            @media (max-width: 767px) {
                padding: 0;
            }
        }
        .center-box {
            position: relative;
            box-shadow: 0px 5px 16px 4px rgba(221, 221, 221, 0.7);
            background-color: #fff;
            width: 50%;
            margin: 0 auto;
            z-index: 10;
            @media (min-width: 992px) {
                border-radius: 60px;
                padding: 76px 0;
                max-width: 600px;
            }
            @media (max-width: 991px) {
                border-radius: 30px;
                margin-bottom: 30px;
                padding: 60px 0;
                width: 85%;
            }
            h3 {
                text-align: center;
                .f24-18 {
                    color: $blue;
                    margin-bottom: 5px;
                }
            }
        }
        .yel-box,
        .grey-box {
            position: absolute;
            @media (min-width: 992px) {
                width: 156px;
                height: 90px;
            }
            @media (max-width: 991px) {
                width: 78px;
                height: 44px;
            }
        }
        .yel-box {
            background-color: #ffd54e;
            animation: float 15s ease-out infinite;
            @media (min-width: 992px) {
                border-radius: 15px 15px 15px 0;
                right: 25.5%;
                top: -57%;
            }
            @media (max-width: 991px) {
                border-radius: 7px 7px 7px 0;
                right: 0;
                top: -10%;
            }
        }
        .grey-box {
            background-color: #a2a2a2;
            animation: float 10s ease-out infinite;
            @media (min-width: 992px) {
                border-radius: 15px 0 15px 15px;
                left: 33%;
                bottom: -62%;
            }
            @media (max-width: 991px) {
                border-radius: 7px 0 7px 7px;
                left: 0%;
                bottom: 25%;
            }
        }
        .swiper {
            @media (min-width: 992px) {
                overflow: visible;
            }
            @media (max-width: 991px) {
                width: 100%;
                height: 100%;
            }
        }
        .swiper-slide {
            @media (max-width: 991px) {
                text-align: center;

                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
        }
        .supportSwiper {
            @media (min-width: 992px) {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
            .swiper-wrapper {
                @media (min-width: 992px) {
                    display: block;
                    position: absolute;
                }
            }
            //定位
            .swiper-slide {
                .logo-wrap.bluebg {
                    background-color: #dceffd !important;
                }

                .logo-wrap.yelbg {
                    background-color: #f7d978 !important;
                }
                @media (min-width: 992px) {
                    position: absolute;
                    &:first-child {
                        top: -7vw;
                        left: 0.5vw;
                        .logo-wrap {
                            width: 27.1%;
                            // width: 16.9vw;
                            aspect-ratio: 1/0.669;
                            img {
                                // max-width: 300px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        top: -35%;
                        left: 76%;
                        .logo-wrap {
                            width: 21.66%;
                            aspect-ratio: 1/0.594;
                            img {
                                // max-width: 254px;
                            }
                        }
                    }
                    &:nth-child(3) {
                        bottom: -85%;
                        left: 10%;
                        .logo-wrap {
                            // width: 12.34vw;
                            width: 19.75%;
                            aspect-ratio: 1/0.5654;
                            img {
                                // max-width: 237px;
                            }
                        }
                    }
                    &:nth-child(4) {
                        bottom: -75%;
                        left: 68%;
                        .logo-wrap {
                            // width: 17.55vw;
                            width: 28%;
                            aspect-ratio: 1/0.623;
                            img {
                                // max-width: 337px;
                            }
                        }
                    }
                }
            }
            .logo-wrap {
                padding: 10px;
                @media (min-width: 992px) {
                    border-radius: 30px;
                    background-color: #fff;
                }
                @media (max-width: 991px) {
                    width: 300px;
                    min-width: 150px;
                    aspect-ratio: 1/0.6;
                    border-radius: 15px;
                    background-color: #fff;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    aspect-ratio: 1/0.244;
                    object-fit: contain;
                    width: 100%;
                }
            }
        }
    }
    .computer-section {
        color: white;
        position: relative;
        margin-bottom: 500px;
        @media (max-width: 991px) {
            margin-bottom: 135px;
        }
        &::after {
            content: "";
            width: calc(100vw - 11vw);
            height: calc(100% + 17.2vw);
            background-color: #2da9ef;
            position: absolute;
            top: -8vw;
            right: 0;
            border-radius: 100px 0 0 100px;
            z-index: -2;
            @media (max-width: 1890px) {
                width: calc(100vw - 5vw);
            }
            @media (max-width: 991px) {
                width: calc(100vw - 5vw);
                height: calc(100% + 21vw);
                top: -16vw;
                border-radius: 70px 0 0 70px;
            }
        }
        .container {
            @media (min-width: 992px) {
                padding-left: 5%;
            }
            @media (max-width: 991px) {
                padding-left: 19%;
            }
        }
        .f44-30 {
            line-height: 1.333;
            position: relative;
            margin-bottom: 72px;
            span {
                color: #f7cb3d;
                i {
                    @include font-size(pxToEm(36), pxToEm(60));
                }
            }
            @media (max-width: 991px) {
                margin-bottom: 28px;
                margin-left: 25px;
            }
            &::before {
                content: "";
                aspect-ratio: 1/0.7635;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
                @media (min-width: 992px) {
                    background: url(../images/title_arrow_blue.png) center/contain no-repeat;
                    left: -14%;
                    width: 20.65%;
                }
                @media (max-width: 991px) {
                    background: url(../images/title_arrow_blue_mb.png) center/contain no-repeat;
                    left: -15%;
                    width: 50%;
                }
            }
        }
        ul {
            @media (max-width: 991px) {
                margin-left: 25px;
                margin-bottom: 50px;
            }
            li {
                display: flex;
                align-items: center;
                &:first-child {
                    margin-bottom: 57px;
                    @media (max-width: 991px) {
                        margin-bottom: 38px;
                    }
                }
            }
            .icon-wrap {
                width: 9%;
                margin-right: 35px;
                @media (max-width: 991px) {
                    width: 80px;
                    margin-right: 18px;
                }
            }
            .list-content {
                .f30-20 {
                    color: #f7cb3d;
                    margin-bottom: 10px;
                    @media (max-width: 991px) {
                        margin-bottom: 5px;
                    }
                }
                p {
                    line-height: 1.875;
                    @media (max-width: 991px) {
                        line-height: 1.5;
                    }
                }
            }
        }
        .macbook {
            @media (min-width: 992px) {
                position: absolute;
                right: 0;
                top: -2vw;
                width: 52.7%;
            }
            @media (max-width: 991px) and (min-width: 768px) {
                position: relative;
                margin-right: -20%;
            }
            @media (max-width: 767px) {
                position: relative;
                margin-left: -23%;
                width: 132.69%;
            }
            .frame {
                width: 100%;

                @media (min-width: 992px) {
                    aspect-ratio: 1/0.8016;
                }
                @media (max-width: 991px) {
                    aspect-ratio: 1/1.0677;
                }
            }
            .sreen {
                position: absolute;
                right: 0;
                top: 5%;
                background-color: white;
                &.animated {
                    animation-duration: 0.5s;
                }
                @media (min-width: 992px) {
                    width: 86%;
                    aspect-ratio: 1/0.609;
                }
                @media (max-width: 991px) {
                    width: 81%;
                    aspect-ratio: 1/0.8546;
                }
            }
        }
        .small-text {
            position: absolute;
            @media (min-width: 1441px) {
                left: 15vw;
                bottom: 0vw;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                white-space: nowrap;
            }
            @media (max-width: 1440px) {
                right: 20px;
                bottom: 3.5vh;
            }
        }
    }
    .plan-section {
        position: relative;
        margin-bottom: 330px;
        @media (max-width: 767px) {
            margin-bottom: 120px;
        }
        .yel-ball {
            position: absolute;
            right: 0;
            bottom: -32%;
            width: 14%;
            aspect-ratio: 1/1.646;
            animation: floatUp 5s ease-out infinite;
            @media (max-width: 767px) {
                display: none;
            }
        }
        .yel-bg {
            background-color: #ffd54e;
            @media (min-width: 768px) {
                position: absolute;
                left: 0;
                top: -12%;
                width: 31.25vw;
                height: calc(100% + 34%);
                border-radius: 0 100px 100px 0;
            }
            @media (max-width: 767px) {
                border-radius: 0 70px 70px 0;
                height: 58vh;
                width: 78vw;
                padding: 6vh 8vw;
            }
            .small-text {
                color: white;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                @media (min-width: 768px) {
                    margin-left: 24.5vw;
                    margin-top: 14%;
                }
            }
            .imgwrap {
                position: absolute;
                @media (min-width: 768px) {
                    width: 81%;
                    bottom: 7%;
                    right: -10%;
                }
                @media (max-width: 767px) {
                    width: 64%;
                    right: 5%;
                    bottom: 8.5%;
                }
            }
        }
        .content-wrap {
            margin-left: 27vw;
            @media (max-width: 1366px) {
                margin-left: 35vw;
            }
            @media (max-width: 767px) {
                margin-left: 0;
                margin-bottom: 65px;
            }
        }
        .f44-30 {
            line-height: 1.333;
            position: relative;
            margin-bottom: 70px;
            @media (max-width: 991px) {
                margin-bottom: 35px;
                margin-left: 25px;
            }
            @media (max-width: 767px) {
                margin-bottom: 65px;
            }
            &::before {
                content: "";
                aspect-ratio: 1/0.7635;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
                @media (min-width: 992px) {
                    background: url(../images/title_arrow.png) center/contain no-repeat;
                    left: -21%;
                    width: 33.65%;
                }
                @media (max-width: 991px) {
                    background: url(../images/title_arrow_mb.png) center/contain no-repeat;
                    left: -15%;
                    width: 40%;
                }
            }
        }
        ul {
            li {
                display: flex;
                align-items: flex-start;
                &:first-child {
                    margin-bottom: 100px;
                    @media (max-width: 767px) {
                        margin-bottom: 55px;
                    }
                }
            }
            .icon-wrap {
                width: 38%;
                aspect-ratio: 1/1;
                overflow: hidden;
                margin-right: 10%;
                border-radius: 50%;
                position: relative;
                transform: translateZ(0);
                // -webkit-mask-image: -webkit-radial-gradient(white, black);
                @media (max-width: 767px) {
                    margin-right: 7%;
                }

                img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    transform: scale(1.2);
                    transition: 1.8s cubic-bezier(0.33, 0, 0.01, 1);
                    z-index: -1;
                }
            }
            .icon-wrap.active {
                img {
                    transform: scale(1);
                    transition-delay: 0.15s;
                }
            }
            .list-content {
                width: 62%;
                margin-top: 10%;
                .f30-20 {
                    color: #2da9ef;
                    margin-bottom: 25px;
                    @media (max-width: 767px) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
footer {
    @media (max-width: 767px) {
        padding: 200px 0 32px;
    }
}
.footer {
    &__index {
        position: relative;
        h2 {
            @include font-size(pxToEm(36), pxToEm(54), 0.8);
            font-weight: 700;
            margin-bottom: 57px;
            @media (max-width: 991px) {
                margin-bottom: 28px;
            }
        }
        .btns {
            display: flex;
            margin-bottom: 98px;
            z-index: 1;
            position: relative;
            @media (max-width: 991px) {
                margin-bottom: 58px;
            }
            a:first-child {
                margin-right: 30px;
                @media (max-width: 767px) {
                    margin-right: 15px;
                }
            }
            a {
                @include font-size(pxToEm(16), pxToEm(20));
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px 0;
                color: white;
                border-radius: 30px;
                width: 15.6vw;
                min-width: 200px;
                @media (max-width: 991px) {
                    padding: 13px 0;
                    border-radius: 15px;
                }
                @media (max-width: 767px) {
                    min-width: 160px;
                }
                span {
                    display: block;
                    height: 24px;
                    margin-left: 20px;
                    @media (max-width: 767px) {
                        height: 13px;
                        margin-left: 10px;
                    }
                }
            }
            .signinbtn {
                background-color: $black;
                &:hover {
                    @media (min-width: 768px) {
                        background-color: $blue;
                    }
                }
                span {
                    width: 24px;
                    background: url(../images/signin.png) center/contain no-repeat;
                    @media (max-width: 767px) {
                        width: 13px;
                    }
                }
            }
            .contactbtn {
                background-color: $yel;
                &:hover {
                    @media (min-width: 768px) {
                        background-color: $blue;
                    }
                }
                span {
                    width: 32px;
                    background: url(../images/contact.png) center/contain no-repeat;
                    @media (max-width: 767px) {
                        width: 17px;
                    }
                }
            }
        }
        .imgwrap {
            position: absolute;
            @media (min-width: 992px) {
                width: 38%;
                right: 0;
                top: -180px;
            }
            @media (max-width: 991px) {
                width: 30%;
                top: -120px;
                right: 0;
            }
            @media (max-width: 767px) {
                width: 58%;
                top: -67vw;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
